{#
========================================================================
= $Id$
= $URL$
========================================================================
#}

{% extends 'pagetemplates/Default.html' %}

{# ------------------------------------------------------------------ #}
{# Content                                                            #}
{# ------------------------------------------------------------------ #}

{% block Content %}

{% include 'partials/Article.html' %}

{% endblock %}
